<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
  <head>
    <title>{% block title %}experiscope{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>
  <body>
    
    <h1>Not Supported</h1>
    <p>Sorry, Your device or the browser is not supported, please use a desktop computer with minimum screen resolution of 1000 by 560, a mouse, and a modern browser.</p>
    <p>Current Screen Resolution: <b><script type="text/javascript">document.write(screen.width);</script> by <script type="text/javascript"> document.write(screen.height);</script></b> </p>
    <h4>Supported Browsers:</h4>
    <ul>
        <li>Chrome - Version 14 or newer. <a href="http://www.google.com/chrome" target="_blank">download</a></li>
        <li>Internet Explorer - Version 9 or newer. <a href="http://windows.microsoft.com/en-US/internet-explorer/download-ie" target="_blank">download</a></li>
        <li>Firefox - Version 4.0 or newer. <a href="http://www.mozilla.org/firefox" target="_blank">download</a></li>
        <!--<li>Safari - Version 5 or newer. <a href="http://www.apple.com/safari" target="_blank">download</a></li>-->
    </ul>
    <p>Thank you!</p>
    

  </body>
</html>