{% extends "base_micallef.html" %}
{% load staticfiles %}
{% block head %}
<style>

select option {
  /*opacity:0.5;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  filter:alpha(opacity=50);
  background: rgba(255,255,255,0.1);*/
}
</style>
{% endblock head %}

{% block extra_head %}
<script type="text/javascript">
    var logBuffer = [];
    
    head.ready(function() {
    $(document).ready(function() {
        
    }); //$(document).ready(function() {
    
    }); //head.ready(function() {
</script>
{% endblock extra_head %}

{% block content %}
    <script type="text/javascript">
        
         //$(window).on('beforeunload', function(){
         //   return true;
        // });
       </script>
        {% include question_template %}
        
        <script type="text/javascript">
        $(window).unbind('beforeunload');
        //$(window).bind('beforeunload', function() {} );
        //window.onbeforeunload = function(e) {
        //    return;
        //};
       </script>
        
{% endblock content %}
