{% load staticfiles %}
<script type="text/javascript">
    head.ready(function() {
    $(document).ready(function() {
        var questionData = {{ question|safe}};
        var questionCondition = {{ condition|safe}};
        //console.log("we are filling out stuff now: ", questionData, questionCondition);
        function createQuestion(data, condition){
            for (var i=0; i < data.length; i++){
                if (data[i].p){
                    $("#question").append("<p>"+data[i].p+"</p>")
                }else if(data[i].image){
                    //if(data[i].image.length > 1){}
                    //else { $("#question").append("<>")
                    var url = '{% static '999' %}';
                     if (data[i].image.length > 1){
                        if(condition > 0){
                            url = url.replace('999', data[i].image[condition-1].url);
                            $("#image").append("<img src='"+url+"'>"); 
                        }
                        
                     }else{
                        url = url.replace('999', data[i].image.url);
                        $("#image").append("<img src='"+url+"'>");
                     }
                }
            }
        }
        function createAnswer(data){
            for (var i=0; i < data.length; i++){
                $("#answers").append("<label class='radio'><input type='radio' name='answer' value='"+data[i]+"'>"+data[i]+"</label>")
            }
        }
        createQuestion(questionData.question, questionCondition);
        
        $('#mainForm').submit(function() {
            var b = $('input:text[name=answer]').val();
            //console.log(b);
            if(!b){
                $("#error").html("<div class='alert alert-error'>Error: Please privide an answer to this question to proceed.</div>");
                return false;     
            }
            if(!b.match(/^\d+$/)) {
               $("#error").html("<div class='alert alert-error'>Error: Answer must be a number.</div>");
               return false;     
            }
            $("#mouseData").val(logBuffer);
            logBuffer = "";
            $(window).unbind('beforeunload');
            return true;
        });

        $("#answer").keydown(function(event) {
            var key = event.charCode || event.keyCode || 0;
            // Allow: backspace, delete, tab, escape, and enter
            if ( key == 46 ||key == 8 ||key == 9 || key == 27 || key == 13 || 
                 // Allow: Ctrl+A
                (key == 65 && key === true) || 
                 // Allow: home, end, left, right
                (key >= 35 && key <= 39)) {
                     // let it happen, don't do anything
                     return;
            }
            else {
                // Ensure that it is a number and stop the keypress
                if (event.shiftKey || (key < 48 || key > 57) && (key < 96 || key > 105 )) {
                    event.preventDefault(); 
                }   
            }
        });
         $(window).bind('beforeunload', function(){
          // Save the questions
          $.post("./survey/save_question/", { 'mouseData': logBuffer, 'csrfmiddlewaretoken': '{{ csrf_token }}'} );
          return ''; //Are you sure you want to leave?';
        });
    });
    });
</script>

<form id="mainForm" action="/?WorkerId={{worker_id}}" method="post">{% csrf_token %}
    <input type="hidden" id="mouseData" name="mouseData" value="">
    <input type="hidden" id="currentQ" name="currentQ" value="{{qnum}}">
    <input type="hidden" name="WorkerId" value="{{worker_id}}">
    <div id="question"></div>
    <div id="image"></div>
    <div id="answers"></div>
    <label>Answer</label>
    <input id="answer" name="answer" type="text" placeholder="Type a number here."><br/>
    <button type="submit" class="btn">Submit</button>
    <div id="error"></div>
</form>